@import "tailwindcss";

@theme {
  --dark-mode: class;
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 90%;
  }

  html,
  body,
  #root {
    height: 100%;
  }
}
